.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: auto;
  margin: 15px 0;
  .title {
    h3 {
      text-transform: uppercase;
      font-weight: $regular;
      color: $cream;
      font-size: 22px;
      margin: 0 auto 10px auto;
      letter-spacing: 2px;
    }
  }
  .items {
    display: flex;
    flex-direction: column;
    p {
      color: $cream;
      text-transform: capitalize;
      line-height: 40px;
      margin: 0;
      a {
        color: $cream;
        text-decoration: none;
        padding-bottom: 2px;
        border-bottom: 0.5px dotted #c2dce6;
      }
    }
  }
  @include breakpoint(md) {
  }
  @include breakpoint(lg) {
  }
}
