.aboutHeading {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 2rem;
	color: 3f3f3f;
	margin-top: 150px;
	margin-bottom: 70px;
	margin-left: 200px;
}

.aboutContent {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 1.2rem;
	width: 60%;
	margin: 0px auto;
}

@media screen and (max-width: 736px) {
	.aboutHeading {
		font-size: 1.9rem;
		margin: 0px;
		padding-left: 20px;
		padding-bottom: 0px;
	}

	.aboutHeading h1 {
		margin-top: 32px;
		margin-bottom: 10px;
	}

	.aboutImage {
		text-align: center;
	}

	.aboutImage img {
		width: 95%;
		height: 220px;
		object-fit: cover;
		object-position: top;
		margin-bottom: 10px;
	}

	.aboutContent {
		font-size: 1rem;
		width: 90%;
	}
}

@media screen and (max-width: 480px) {
	.aboutHeading {
		font-size: 1.5rem;
		margin: 0px;
		padding-left: 20px;
		padding-bottom: 0px;
	}

	.aboutHeading h1 {
		margin-top: 32px;
		margin-bottom: 10px;
	}

	.aboutImage {
		text-align: center;
	}

	.aboutImage img {
		width: 95%;
		height: 150px;
		object-fit: cover;
		object-position: top;
		margin-bottom: 10px;
	}

	.aboutContent {
		font-size: 1rem;
		width: 90%;
	}
}
