@import './Header.css';
@import './Body.css';
@import './Footer.css';
@import './About.css';
@import './Contact.css';
@import './Projects.css';
@import './Terminal.css';
@import './Tanto.css';
@import './Cookbook.css';
@import './Solemate.css';
@import './Blog.css';

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
