@import url(./Header.css);
@import url(./Body.css);
@import url(./Footer.css);
@import url(./About.css);
@import url(./Contact.css);
@import url(./Projects.css);
@import url(./Terminal.css);
@import url(./Tanto.css);
@import url(./Cookbook.css);
@import url(./Solemate.css);
@import url(./Blog.css);
@import url(./Animations.css);
body {
  height: 100vh;
  margin: 0;
  overflow: hidden; }
