.blogHeading {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin: 0px;
  padding-left: 20px;
  padding-bottom: 0px;
}

.blogHeading h1 {
  margin-top: 30px;
  margin-bottom: 10px;
}
