.body {
  display: flex;
  flex-wrap: wrap;
}

.bodyDescription {
  width: 90%;
  margin-bottom: 40px;
}

.bodyDescription h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.2;
  letter-spacing: -1px;
  margin-top: 20px;
  height: 100%;
}

.heroImage img {
  position: relative;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .bodyContent {
    height: 70vh;
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .bodyDescription {
    margin-bottom: 100px;
  }

  .bodyDescription p {
    font-size: 3rem;
    padding-left: 15px;
  }

  .heroImage img {
    position: relative;
    width: 100%;
  }
}

@media screen and (min-width: 736px) {
  .bodyDescription {
    padding-left: 20px;
    margin-bottom: 0px;
  }

  .bodyDescription p {
    font-size: 3.6rem;
  }

  .heroImage {
    margin-left: auto;
  }
}

@media screen and (min-width: 980px) {
  .bodyDescription p {
    width: 80%;
    font-size: 3.8rem;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .bodyImage {
    padding-left: 50px;
  }
}
