.body {
	width: 100%;
	margin-top: 80px;
}

.bodyContent {
	display: grid;
	grid-template-columns: 30% 70%;
}

.bodyImage {
}

.bodyImage img {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: 'FlipH';
	width: 350px;
	height: 550px;
	object-fit: cover;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.bodyDescription {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bodyDescription p {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 3.3rem;
	line-height: 1.2;
	letter-spacing: -1px;
}

@media screen and (max-width: 480px) {
	.body {
		width: 90%;
		margin-top: 0px;
	}

	.bodyContent {
		grid-template-columns: 0% 100%;
	}

	.bodyDescription {
		width: 90%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.bodyDescription p {
		font-weight: 700;
		font-size: 3rem;
		line-height: 1.2;
		letter-spacing: -1px;
		margin-top: 0px;
	}

	.bodyImage {
		display: none;
	}
}
