.contactHeading {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin: 0px;
  padding-left: 20px;
  padding-bottom: 0px;
}

.contactOptions {
  font-family: "Lato", sans-serif;
  color: rgba(14, 13, 13, 0.541);
  font-weight: 300;
  font-size: 1rem;
  margin: 0px;
  padding-left: 20px;
  padding-bottom: 0px;
  text-align: center;
  margin-top: 50px;
}

.contactOptions ul {
  list-style: none;
}

.contactOptions li {
  padding-bottom: 10px;
}

.contactOptions li a {
  text-decoration: none;
  color: rgba(14, 13, 13, 0.541);
}

.contactOptions li a:hover {
  text-decoration: line-through;
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 736px) {
}

@media screen and (min-width: 980px) {
  .contactHeading {
    font-size: 1.2rem;
  }

  .contactOptions {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1280px) {
}
