.projectsHeading {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 2rem;
	color: 3f3f3f;
	margin-top: 150px;
	margin-bottom: 70px;
	margin-left: 200px;
}

@media screen and (max-width: 736px) {
	.projectsHeading {
		font-size: 1.9rem;
		margin: 0px;
		padding-left: 20px;
		padding-bottom: 0px;
	}

	.projectsHeading h1 {
		margin-bottom: 10px;
	}

	.projectsList {
		overflow: scroll;
		height: 440px;
	}

	.projectsList ul {
		list-style-type: none;
		padding: 0px;
	}

	.projectsList img {
		height: 120px;
		width: 100%;
		object-fit: cover;
	}
}

@media screen and (max-width: 480px) {
	.projectsHeading {
		font-size: 1.5rem;
		margin: 0px;
		padding-left: 20px;
		padding-bottom: 0px;
	}

	.projectsHeading h1 {
		margin-bottom: 10px;
	}

	.projectsList {
		overflow: scroll;
		height: 440px;
	}

	.projectsList ul {
		list-style-type: none;
		padding: 0px;
	}

	.projectsList img {
		height: 100px;
		width: 100%;
		object-fit: cover;
	}
}
