.solemateBlock {
  height: 250px;
  overflow: scroll;
  margin-bottom: 40px;
}

.solemateHeading {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin: 0px;
  padding-left: 20px;
  padding-bottom: 0px;
}

.solemateHeading h1 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.solemateBlock img {
  width: 100%;
}

.solemateDescription p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  width: 95%;
  margin: 0 auto;
  overflow: scroll;
}

.solemateGit {
  padding-top: 10px;
  text-align: center;
}

.solemateGit a {
  text-decoration: none;
  color: black;
}

.solemateGit a:hover {
  text-decoration: line-through;
}

@media screen and (min-width: 480px) {
  .solemateBlock {
    height: 300px;
  }
}

@media screen and (min-width: 736px) {
  .solemateBlock {
    height: 350px;
  }
}

@media screen and (min-width: 980px) {
  .solemateContent {
    display: flex;
  }

  .solemateBlock {
    width: 4000px;
    height: 580px;
  }

  .solemateDescription {
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 1280px) {
}
