.terminalHeading {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin: 0px;
  padding-left: 20px;
  padding-bottom: 0px;
}

.terminalHeading h1 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.terminalBlock {
  height: 250px;
  overflow: scroll;
  margin-bottom: 40px;
}

.terminalBlock img {
  width: 100%;
}

.terminalDescription p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  width: 95%;
  margin: 0 auto;
  overflow: scroll;
}

.terminalGit {
  padding-top: 10px;
  text-align: center;
}

.terminalGit a {
  text-decoration: none;
  color: black;
}

.terminalGit a:hover {
  text-decoration: line-through;
}

@media screen and (min-width: 480px) {
  .terminalBlock {
    height: 300px;
  }
}

@media screen and (min-width: 736px) {
  .terminalBlock {
    height: 350px;
  }
}

@media screen and (min-width: 980px) {
  .terminalContent {
    display: flex;
  }

  .terminalBlock {
    width: 4000px;
    height: 580px;
  }

  .terminalDescription {
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 1280px) {
}
